.test {
    display: grid;
    grid-template-columns: minmax(1.25rem, 1fr) minmax(40rem, 70rem) minmax(1.25rem, 1fr);
    grid-template-rows: min-content min-content auto;
    height: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
    align-items: center;
}

.test > .learn_system:first-of-type {
    grid-row: 2/3;
}

.showTest {
    margin: 1rem 2rem 3rem !important;
    grid-row: 3/4;
    grid-column: 2/3;
}

.learn_system {
    grid-row: 4/5;
    grid-column: 2/3;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

.test-container {
    align-self: start;
    grid-row: 5/6;
    grid-column: 2/3;
    margin: 0 2rem;
}

.test > .back {
    justify-self: start;
    grid-column: 2/3;
    margin-left: 2rem;
    padding-left: 0;
    padding-right: 0;
}

.container {
    grid-row: 2/3;
    grid-column: 2/3;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
    border-radius: 1rem;
    padding: 1rem 0;
}

.container > p {
    margin: 0 2rem 3rem;
    text-align: center;
    font-size: 1.3rem;
}


@media only screen and (max-width: 759px) {
    .learn_system {
        font-size: 1.8rem;
    }
    .test {
        grid-template-columns: minmax(1.25rem, 1fr) minmax(20rem, 70rem) minmax(1.25rem, 1fr);
    }
}
