.back {
    grid-column: 1/2;
    align-self: start;
    justify-self: center;
    padding: 0.4rem 0.4rem 0.2rem 0.4rem;
    margin-top: -0.4rem;
    border: 1px solid transparent;
}

.back img {
    width: 6.25rem;
}

.back:hover {
    border: 1px solid #666699;
    border-radius: .6rem;
}
